body {
    padding-top: 60px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, whitesmoke, white);
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    /*background-image: url('/Content/Christmas_background.jpg');*/
}

html {
    height: 100%;
}

main {
    flex-grow: 1;
    padding-top: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}



@media (min-width: 576px) {
    .text-right-sm {
        text-align: right;
    }
}

@media (min-width: 768px) {
    .text-right-md {
        text-align: right;
    }
}

@media (min-width: 992px) {
    .text-right-lg {
        text-align: right;
    }
}

@media (min-width: 1200px) {
    .text-right-xl {
        text-align: right;
    }
}


.td-orange {
    background: rgba(255, 128, 0, 0.5);
    border: white solid;
}

.td-red {
    background: rgba(255, 0, 0, 0.5);
    border: white solid;
}

.td-green {
    background: rgba(0, 255, 0, 0.5);
    border: white solid;
}

#btn\[0\]remove_desired {
    display: none;
}

#btn\[0\]remove_unavailable
{
    display: none;
}