.hover-text {
    font-size: 100px;
    font-family: serif;
}

svg {
    width:100%;
}

.text-muted {
    color:#a0a0a0;
    font-size: smaller;
}

svg > *{
    transition: 
        filter 500ms linear,
        opacity 500ms linear,
		fill 500ms linear,
		stroke 500ms linear;
    
}

line {
    stroke-width: 10px;
}

.un-selected {
  fill: #a0a0a0;
  stroke: #a0a0a0 !important;
  filter: grayscale(100%);
  opacity: 0.5;
}