@{
    ViewBag.Title = "IP5-IRuettä";
}



<h1><i class="fa fa-tree"></i> IRuettä</h1>
<p class="lead">Hallo und herzlich willkommen bei iRuettä.</p>
<p>Diese Webapplikation vereinfacht Ihnen Ihre Samichlaus Routenplanung und Besuchsübersicht.</p>
