@{
    ViewBag.Title = "IP5-IRuettä";
}



<h1><i class="fa fa-tree"></i> IRuettä</h1>
<p class="lead">Hallo und herzlich willkommen bei iRuettä.</p>
<p>Diese Webapplikation vereinfacht Ihnen Ihre Samichlaus Routenplanung und Besuchsübersicht.</p>
<a href="Visit/create" class="btn btn-dark btn-lg">Besuch erfassen</a>
<a href="algorithm" class="btn btn-dark btn-lg">Algorithmus starten</a>